<!DOCTYPE html>
<html>
  <head>
    <title>Flydocument Encrypted | <%=texts.ACCESS_FILE %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Flydocument Encrypted</h1>
    <h2><%=texts.ACCESS_FILE_MSG %></h2>
    <p><%=texts.PASSPHRASE %>:<p>
    <form action="/files/<%=filename %>" method="get">
     <input type="password" name="passphrase">
     <input type="submit">
    </form>
  </body>
</html>
