<!DOCTYPE html>
<html>
  <head>
    <title>Flydocument Encrypted | <%=texts.HOME_PAGE %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Flydocument Encrypted</h1>
    <p><%=texts.WELCOME_MSG %> Flydocument Encrypted.</p>
  </body>
</html>
