<!DOCTYPE html>
<html>
  <head>
    <title>Flydocument Encrypted | <%if (success == 'user-saved') { %><%=texts.USER_SAVED %><% } %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Flydocument Encrypted</h1>
    <h2>
    <%if (success == 'user-saved') { %>
      <%=texts.USER_SAVED_MSG %>
    <% } %>
    </h2>
  </body>
</html>
